/*  ->    <-    */
:root {
	--orange: rgb(242, 169, 59);
	--background-grey: rgb(242, 242, 242);
	--background-grey-dark: rgb(214, 212, 212);
	font-size: 16px;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	max-width: 100vw;
	min-height: 100vh;
	background-color: rgba(193, 255, 253, 0.403);
	overflow-x: hidden;
}

/* ROOT END */


/* 1 */
/*  ->  START HEADER <-    */

header {
	background-color: var(--background-grey);
	width: 100vw;
}

.header1 {
	color: var(--orange);
	padding: 0.8em 0.3em 0;
	font-size: 3em;
}

.subtitle {
	padding: 1em 0 0.2em;
	font-size: 1em;
}

/*  ->  HEADER END <-    */

/* 2 */
/*  ->  START BUTTONS <-    */

.graph-buttons {
	background-color: var(--background-grey);
	padding: 1em;

	border-top: 1px solid var(--background-grey-dark);
	border-bottom: 1px solid var(--background-grey-dark);
}

.button {
	display: inline-flex;
	flex-flow: row wrap; 
	justify-content: center;

	margin: 0 0.1em;
	padding: 0.5em 1em;
	border: 0;
	border-radius: 0.3em;

	background-color: var(--orange);

	font: inherit;
}

.button:active {
	background-color: red;
}

/*  ->  BUTTONS END  <-    */

/* 3 */
/*  ->  START GRAPH  <-    */

.graph {
	background-color: var(--background-grey);
	text-align: center;
	border: 1px solid black;

}

table {
	border-collapse: collapse;
	margin: 1em auto;
}

th, td {
	text-align: left;
	padding: 1em;
	border: 1px solid black;
}

tbody > tr:nth-child(odd) {
  background-color: var(--background-grey-dark);
}

/* th, td {
	display: flex;
	justify-content: space-between;
} */


/*  ->  GRAPH END<-    */
/* 
@counter-style row {
	system: numeric;
	pad: 2 "0";
	sumbols: a b c;
}


th {
	counter-reset: row 1;
}


tr {
	counter-increment: row;
}

tr::before {
	content: ""counter(row)":";
	position: absolute;
	margin-top: 1em;
	margin-left: 1.2em;
		list-style: row;
}

thead tr::before {
	content: ""
}

tr td:first-of-type,
tr th:first-of-type {
	padding-left: 2em;
}
 */
