/*  ->    <-    */
:root {
	--orange: #f2a93b;
	--orange-dark: #f29200;
	--orange-light: rgb(248 201 130);
	--orange-lightest: #FFECCC;
	--tomato: #ff6347;
	--blue-dark: #2F4858;
	--grey: rgb(242, 242, 242);
	--grey-dark: rgb(214, 212, 212);
	--black: rgb(30, 30, 30);
	--black-full: rgb(0, 0, 0);
	font-size: 16px;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	max-width: 100vw;
	min-height: 100vh;
	background-color: var(grey-dark);
	overflow-x: hidden;
}

/* ROOT END */


/* 1 */
/*  ->  START HEADER <-    */

header {
	background-color: var(--grey);
	width: 100vw;
}

.header1 {
	color: var(--orange);
	padding: 0.8em 0.3em 0;
	font-size: 3em;
}

.subtitle {
	padding: 1em 0 0.2em;
	font-size: 1em;
}

/*  ->  HEADER END <-    */

/* 2 */
/*  ->  START BUTTONS <-    */

.graph-buttons {
	background-color: var(--grey);
	padding: 1em;

	border-top: 1px solid var(--grey-dark);
	border-bottom: 1px solid var(--grey-dark);
}

.button {
	display: inline-flex;
	flex-flow: row wrap; 
	justify-content: center;

	margin: 0 0.1em;
	padding: 0.5em 1em;
	border: 0;
	border-radius: 0.3em;

	background-color: var(--orange);

	font: inherit;
}


.button:hover{
	background-color: var(--orange-dark);
}


/*  ->  BUTTONS END  <-    */

/* 3 */
/*  ->  START GRAPH  <-    */


table {
	margin: 1em auto;
	min-width: 80vw;

	border-collapse: collapse;
}

table caption {
	padding: 0.4em 0.2em;
	margin: 0.2em auto;
	border-radius: 0.1em;

	background-color: var(--blue-dark);
	font-size: 2em;
	color: var(--orange);
	font-weight: bold;
	text-shadow: 
			-1px -1px var(--black-full),
			-1px 1px var(--black-full),
			1px -1px var(--black-full),
			1px 1px var(--black-full);
}

th, td {
	text-align: left;
	padding: 1em;
	border: 2px solid var(--black-full);
}

thead {
	background-color: var(--orange);
}

tbody > tr:nth-child(odd) {
  background-color: var(--grey-dark);
}
tbody > tr:nth-child(even){
	background-color: var(--grey);
}

tbody > tr:hover {
	background-color: var(--orange-light)
}


/* th, td {
	display: flex;
	justify-content: space-between;
} */


/*  ->  GRAPH END<-    */
/* 
@counter-style row {
	system: numeric;
	pad: 2 "0";
	sumbols: a b c;
}


th {
	counter-reset: row 1;
}


tr {
	counter-increment: row;
}

tr::before {
	content: ""counter(row)":";
	position: absolute;
	margin-top: 1em;
	margin-left: 1.2em;
		list-style: row;
}

thead tr::before {
	content: ""
}

tr td:first-of-type,
tr th:first-of-type {
	padding-left: 2em;
}
 */
